[Unit]
Description={{ item.description }}
After=network-online.target
Wants=network-online.target

[Service]
Type=oneshot
User={{ sentinel_user }}
Group={{ sentinel_user }}
WorkingDirectory={{ sentinel_path }}
ExecStart=/bin/bash -lc '{{ item.command }}'
