[Unit]
Description={{ item.description }}
After=network-online.target
Wants=network-online.target

[Service]
User=ubuntu
Group=ubuntu
Type=oneshot
User=root
WorkingDirectory={{ sentinel_path }}
ExecStart=/bin/bash -lc '{{ item.command }}'
